
# Ignorar arquivos de credenciais
saja-runner_credenci.json

# Ignorar diretórios relacionados ao Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar ambientes virtuais
env/
venv/
.venv/

# Ignorar configurações locais e IDEs
.vscode/
.idea/

# Ignorar arquivos temporários do sistema operacional
.DS_Store
*.log
*.tmp
